.navbar {
    font-family: cursive;
    color: white;
    display: flex;
    justify-content: center;


.catalog {
    color: #6ECB63;
    font-size: 50px;
}
     .btn-submit {
         background-color: #FF7878;
     }
}

.footer-page {
    font-family: cursive;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 50px;

}